@charset "UTF-8";

body {
	font-family: 'Arial', sans-serif;
	background-color: #f2f2f2;
	margin: 0;
}

h1 {
	color: #007bff;
	text-align: center;
}

.img1 {
	display: block;
	margin: 0 auto;
}

.botton1 {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	border-radius: 5px;
	font-size: 18px;
}

.botton2 {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #D51213;
	border-radius: 5px;
	font-size: 18px;
}

.botton1:hover {
	background-color: #0056b3;
}

.form1 {
	width: 300px;
	margin: 20px auto;
	border-collapse: collapse;
}

.form1 tr {
	text-align: center;
}

.form1 td {
	padding: 10px;
}

.form1 input {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 10px;
	text-align: center;
}

.form1 input[name="nome"] {
	font-weight: bold;
}

#table1 {
	margin-top: 30px;
	border-collapse: collapse;
	width: 80%; 
    margin: 0 auto;
}

#table1 th {
	border: 1px solid #ddd;
	background-color: #66bbff;
	padding: 10px;
	text-align: left;
	color: fff;
}

#table1 td {
	border: 1px solid #ddd;
	padding: 10px;
}

#idcon {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
}